/* CSS HEX */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@200;400&display=swap');

/* fonts {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */
 
:root {
    --main-color: #016fb9ff;
    --accent-1: #22aed1ff;
    --white: #ffffffff;
    --main-text-color: #000000ff;
    --accent-2: #6d8ea0ff;
    --orange: #ff8000ff;
    --mint-cream: #f8fff4ff;
    --light-gray: #cdd7d6ff;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}
/* Home Page CSS */

/* Header */
header {
    color: var(--white);
}
header nav {
    float: right;
}
header nav a {
    color: var(--white);
    float: left;
    padding: 13px;
    margin: 20px;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
}
.logo {
    padding: 5px;
    width: 120px;
}
header a {
    padding: 30px;
    text-decoration: none;
}
  
header nav a:hover {
    background-color: var(--accent-2);
}
  
header a.active {
    background-color: white;
    color: black;
}

/* Story */
.background_img_2 {
    width: 100%;
}
/* Container holding the image and the text */
.hero {
    position: relative;
    text-align: center;
    color: white;
}
.hero-text {
    position:absolute;
    text-align:center;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);    
    border-radius: 10px;
    padding: 10px;
    width: 600px;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.35em;
}


/* Story Page */
.disclaimer {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    color: red;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.8em;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.middle {
    text-align: center;
    color: white;
    font-size: 1.5em;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.schedule-meeting {
    display: block;
    padding: 13px;
    margin: 30px;
    font-size: 18px; 
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    color: black;
    max-width: 150px;
    margin-left: auto;
    margin-right: auto;
}

/* Grid */
.grid1 {
    font-size: 2vw;
    text-align: center;
    color: white;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px
}
.grid1 img {
    width: 100%;
}
.subtitles {
    font-size: 1.3vw;
}

/* Footer */
hr {
    border: 0;
    display:block;
    width: 98%;      
    background-color:white;
    height: 1px;
    margin: auto;
    margin-top: 10px; 
  }
footer {
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.social {
    display: flex;
    float: left;
}
.social img {
    width: 40px; 
    padding: 20px;
}
footer p a {
    color: white;
}



/* Experience Page */
.resume {
    margin: 40px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
#download {
    text-align: center;
    font-size: 1.8vw;
}
#resume_pic {
    width: 30vw;
    border: 5px solid white;
}
#resume {
    grid-column-start: 2;
}
.experience {
    font-size: 1.6vw;
}