/* CSS HEX */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Montserrat:wght@200;400&display=swap');

/* fonts {
    font-family: 'DM Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;
} */

:root {
    --main-color: #016fb9ff;
    --accent-1: #22aed1ff;
    --white: #ffffffff;
    --main-text-color: #000000ff;
    --accent-2: #6d8ea0ff;
    --orange: #ff8000ff;
    --mint-cream: #f8fff4ff;
    --light-gray: #cdd7d6ff;
    font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
}
/* Home Page CSS */

/* Header */
header {
    color: var(--white);
}
header nav {
    float: right;
}
header nav a {
    color: var(--white);
    float: left;
    padding: 13px;
    margin: 20px;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 5px;
}
.logo {
    padding: 5px;
    width: 120px;
}
header a {
    padding: 30px;
    text-decoration: none;
}
  
header nav a:hover {
    background-color: var(--accent-2);
}
  
header a.active {
    background-color: white;
    color: black;
}

/* Main Home Page */

#background_img {
    width: 100%;
    position: relative;
}
.center {
    position:absolute;
    text-align:center;
    top: 350px;
    left: 50%;
    transform: translateX(-50%);    
    border-radius: 5px;
    padding: 10px;
    padding-right: 20px;
    padding-left: 0px;
    width: 600px;
}
h1 {
    font-size: 3em;
}
.center * {
    color: white;
    background-color: transparent;
}
.social {
    width: 60px;
    position: absolute;
    text-align:center;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);  
    background-color: transparent;
}
.social a div img {
    position: absolute;
    float: left;
    border-radius: 10px;
}
.email {
    left: -100px;
}
.linkedin {
    left: 0px;
}
.github {
    left: 100px;
}

/* Footer */
footer * {
    color: white;
}
.copyright {
    float: right;
}

  
@media screen and (max-width: 500px) {
    header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    header nav {
      float: none;
    }
}