.container {
    display: grid;
    background-color: white;
    grid-template-columns: 300px 300px;
}
img {
    width: 80%;
    grid-area: 1/1/3/2;
}

#tart {
    grid-area: 1/1/3/3;
    z-index: 1;
    text-align: center;
    font-size: 70px;
    letter-spacing: .1em;
}

h2 {
    grid-area: 2/2/3/3;
    color: #9D0E11;
    z-index: 1;
    text-align: center;
    letter-spacing: .1em;
}

#blank {
    background-color: lightgray;
    grid-area: 1/2/3/3;
}

